- if user_signed_in?
  .row
    .col-md-6.col-md-offset-3
      = form_tag '/search', :method => "get" do |f|
        .input-group
          = text_field_tag :query, nil, :placeholder => "Search for a Restaurant ...", :class => "form-control input-lg"
          %span.input-group-btn
            %button.btn.btn-primary.input-lg
              I'm Hungry!
%br/
.row
  .table-responsive
    %table.table.table-striped
      %thead
        %tr
          %th Restaurant Image
          %th Name
          %th Category
          %th Description
      %tbody
        - @restaurants.each do |restaurant|
          %tr
            %td= image_tag restaurant.logo.url(:thumb)
            %td= link_to "#{restaurant.name}", restaurant
            %td= restaurant.category
            %td= restaurant.description
            - if admin_signed_in?
              %td= link_to 'Delete Restaurant', restaurant_path(restaurant), method: :delete, data: { confirm: 'Are you sure?' }

.row
  = will_paginate @restaurants, :class => 'text-center'

- if admin_signed_in?
  .row
    = link_to 'Add Restaurant', new_restaurant_path, class: 'btn'
