<%= form_for(@reservation) do |f| %>
  <% if @reservation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@reservation.errors.count, "error") %> prohibited this reservation from being saved:</h2>

      <ul>
      <% @reservation.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :startTime %><br>
    <%= f.datetime_select :startTime %>
  </div>
  <div class="field">
    <%= f.label :endTime %><br>
    <%= f.datetime_select :endTime %>
  </div>
  <div class="field">
    <%= f.label :partySize %><br>
    <%= f.text_field :partySize %>
  </div>
  <div class="field">
    <%= f.label :tables %><br>
    <%= f.text_field :tables %>
  </div>
  <div class="field">
    <%= f.label :seats %><br>
    <%= f.text_field :seats %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
