%h3 Listing Your Reservations
%table.table.table-striped
  %thead
    %tr
      %th Id
      %th Starttime
      %th Endtime
      %th Table Id
      %th Number of Seats
      %th{:colspan => "3"}
  %tbody
    - @user_reservations.each do |reservation|
      %tr
        - reservation_table = reservation.table
        %td= link_to "#{reservation.id}", [@restaurant, reservation_table, reservation]
        %td= reservation.startTime
        %td= reservation.endTime
        %td= reservation.table_id
        %td= reservation.table.num_seats
        %td= link_to 'Destroy', restaurant_table_reservation_path(@restaurant, reservation_table, reservation), method: :delete, data: { confirm: 'Are you sure?' }
