%h1 Listing Reservations
%table.table.table-striped
  %thead
    %tr
      %th Starttime
      %th Endtime
      %th Partysize
      %th Table Id
      %th Seats
      %th{:colspan => "3"}
  %tbody
    - @reservations.each do |reservation|
      %tr
        %td= reservation.startTime
        %td= reservation.endTime
        %td= reservation.partySize
        %td= reservation.table_id
        %td
        %td= link_to 'Show', reservation
        %td= link_to 'Edit', edit_reservation_path(reservation)
        %td= link_to 'Destroy', reservation, method: :delete, data: { confirm: 'Are you sure?' }
%br/
= link_to 'New Reservation', new_reservation_path
