%p
  %strong Starttime:
  = @reservation.startTime
%p
  %strong Endtime:
  = @reservation.endTime
%p
  %strong Partysize:
  = @reservation.partySize
%p
  %strong Table Id:
  = @reservation.table_id

%br/
= link_to 'Edit', edit_restaurant_table_reservation_path(@restaurant, @table, @reservation), class: 'btn'
= link_to 'Back', restaurant_table_reservations_path, class: 'btn'
