%p#notice= notice
%p
  %strong Starttime:
  = @reservation.startTime
%p
  %strong Endtime:
  = @reservation.endTime
%p
  %strong Partysize:
  = @reservation.partySize
%p
  %strong Table Id:
  = @reservation.table_id
%p
  %strong numSeats:

= link_to 'Edit', edit_reservation_path(@reservation)
|
= link_to 'Back', reservations_path
