<p id="notice"><%= notice %></p>

<p>
  <strong>Starttime:</strong>
  <%= @reservation.startTime %>
</p>

<p>
  <strong>Endtime:</strong>
  <%= @reservation.endTime %>
</p>

<p>
  <strong>Partysize:</strong>
  <%= @reservation.partySize %>
</p>

<p>
  <strong>Tables:</strong>
  <%= @reservation.tables %>
</p>


<%= link_to 'Edit', edit_reservation_path(@reservation) %> |
<%= link_to 'Back', reservations_path %>
