.row
  %h1= "Listing Tables for #{@restaurant.name}"
.row
  = render 'available_tables'
.row
  - if admin_signed_in?
    = render 'reserved_tables'
  - elsif user_signed_in?
    = render 'reservations/user_reservations'
.row
  %br/
  - if admin_signed_in?
    = link_to 'New Table', new_restaurant_table_path, class: 'btn'
  = link_to 'Back', restaurant_path(@restaurant), class: 'btn'
