.row
  %h3 Your Search Results:

- unless @search_results.empty?
  .row
    .table-responsive
      %table.table.table-striped
        %thead
          %tr
            %th Logo
            %th Name
            %th Category
            %th Description
        %tbody
          - @search_results.each do |result|
            %tr
              %td= image_tag result.searchable.logo.url(:thumb)
              %td= link_to "#{result.searchable.name}", result.searchable
              %td= result.searchable.category
              %td= result.searchable.description
- else
  .row
    %span
      %h3
        Nothing to show...
        %i.fa.fa-frown-o
        %a.underline{:href=>'/'} Let's try again!
